:root {
    --verde-primario: #9BE40A;  
    --verde-secundario: #94CC26; 
    --verde-tercero: #A8F80D; 
    --verde-cuarto: #C3F16A; 
    --verde-quinto: #C9E992; 

    --secundario-azul: #07434B; 
    --secundario-azulclaro: #28FFBB;
    --secundario-amarillo: #FFE418;
    --secundario-naranja: #F0A32E;
    
    --extra-gris: #434343;
    --extra-negro: #282828;
    --extra-rojo: #FB4915;
    --extra-grisaceo: #DDDDDD;
    --blanco: #fff;


}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}
body {
    font-family: "Montserrat", serif;
}
.header{
    background-color: var(--secundario-azul);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vw;
}
.header__section1{

}
.header__section1__logo{
    width: 27vw;
}

.header__section2__nav{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 8vw;
   
}
.header__section2__nav__container {
    background-color: var(--verde-quinto);
    padding: 1rem;
    margin: 1rem 1.5rem;
    border-radius: 30%;
    width: 5.5vw;
    height: 5.5vw;
    display: flex;
    
    align-items: center; 
    flex-direction: column;
}

.header__section2__nav__container__enlace__img {
    width: 3vw;
    height: 3vw;
    object-fit: contain; 
}

.header__section2__nav__container__enlace__img {
    width: 3vw;
    height: 3vw;
    
}

.header__section2__nav__container__p {
    text-align: center; 
    padding-top: 20px;
    color: var(--blanco);
    font-size: 1.5rem;
}




.main{
    background-color: var(--extra-negro);
    
}

.main__section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__section1__container1{
padding: 2rem;
}
.main__section1__container1__h2{
    color: var(--verde-primario);
    font-size: 3rem;
}
.main__section1__container1__span{
    color: var(--extra-grisaceo);
    font-size: 3rem;

}
.main__section1__container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main__section1__container2__enlace {
    background-color: var(--verde-quinto);  
    padding: 1rem;
    margin: 1rem;
    border-radius: 30%;
    width: 5.5vw; 
    height: 5.5vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* Estilo para los contenedores */
.main__section1__container2__enlace {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Ocultar los checkbox */
.toggle-input {
    display: none;
}

/* Estilo para los desplegables */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--extra-gris);
    border-radius: 10px;
    padding: 1rem;
    width: 20vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
    right: 100%;  /* Hace que el desplegable esté a la izquierda */
    top: 0;
    margin-right: 10px; 
}
.dropdow-content__elemento{
    color: var(--blanco);
    border: 1px solid var(--blanco);
    margin: 10px;
}
/* Mostrar el desplegable cuando el checkbox esté marcado */
#cartera-toggle:checked ~ .dropdown-content {
    display: block;
}

#notificaciones-toggle:checked ~ .dropdown-content {
    display: block;
}

/* Opcional: Añadir animación */
.dropdown-content p {
    color: var(--blanco);
    font-size: 1.2rem;
}

.main__section1__container2__enlace__img {
    width: 3vw;
    height: 3vw;
    object-fit: contain;
}
.main__section2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
}
.main__section2__form{
    margin: 0;
    padding: 0;
}
.main__section2__form__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--extra-grisaceo);
    width: 40vw;
    height: 3vw;
    border-radius: 20px;
    border: solid 4px black;

}
.main__section2__form__container__input{
    background-color: var(--extra-grisaceo);
    height: 2.8vw;
    width: 38vw;
    border-radius: 20px;
    border-left: 1px solid black;
    
}
.main__section2__form__container__input__img{
    width: 2.5rem;
    height: 2.5rem;
}
.main__section3{
    display: flex;
    align-items: center;
    justify-content: center;

}
.main__section3__container1{
    width: 5.1rem;
    height: 5.1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem 1.5rem;
}
.main__section3__container1__img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    
    border: solid 3px var(--verde-primario);
}
.main__section3__container1__p{
    color: var(--blanco);
    font-size: 1.5rem;
}
.main__section4{
    padding: 2rem;
}
.main__section4__titulo{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   text-align: center;
}
.main__section4__container1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.main__section4__container1__h2{
    color: var(--blanco);
    font-size: 3rem;
}
.main__section4__container1__enlace{
    color: var(--blanco);
    width: 6vw;
    text-align: center;
    border: solid 1px var(--blanco);
    font-size: 1.3rem;
    border-radius: 10px;
}
.main__section4__container1__container{
    display: flex;
    width: 30vw;
    height: 18vw;
    margin: 0 1rem;
    border-radius: 15px;
    padding: .5rem;
    border: 1px solid var(--extra-negro);
    flex-direction: column;
    background-color: var(--extra-gris);
}

.main__section4__container1__container__h3{
    color: var(--blanco);
    font-size: 2rem;
    border-bottom: 2px solid var(--blanco);
}
.main__section4__container1__container__match{
    display: flex;
    justify-content: space-around;
    height: 3vw;
    margin-bottom: 5px;
    margin-top: 5px;

}
.main__section4__container1__container__match__p{
    color: var(--blanco);
    font-size: 1.5rem;
}
.main__section4__container1__container__match__img{
    
    width: 2rem;
}
.main__section4__container1__container__usuario{
    display: flex;
    justify-content: space-around;
    color: var(--blanco);
    font-size: 1.2rem;
    height: 3vw;
}
.main__section4__container1__container__usuario__img{
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    border-radius: 50%;

}
.main__section4__container1__container__usuario__p > span{
    color: var(--verde-primario);
}
.main__section4__container1__container__usuario__enlace{
    color: var(--blanco);
    width: 6vw;
    height: 4vh;
    text-align: center;
    border: solid 1px var(--blanco);
    font-size: 1.3rem;
    border-radius: 10px;
}
.main__section4__container1__container__enlace{
    margin: 0 auto;
    color: var(--blanco);
    width: 8vw;
    height: 4vh;
    text-align: center;
    border: solid 1px var(--blanco);
    font-size: 1.3rem;
    border-radius: 10px;
}
.main__section4__container1__container2{
    display: flex;
    width: 30vw;
    border: 1px solid var(--extra-gris);
}


.main__section4__creapuesta {
    position: fixed; 
    right: 1px; 
    top: 75%; 
    transform: translateY(-50%); 
    z-index: 100; 
}
.main__section4__container1__container__p{
    color: var(--verde-cuarto);
    font-size: 1.2rem;
}


.main__section4__creapuesta__enlace {
    display: flex;
    align-items: center;
    background-color: var(--blanco); 
    color: var(--extra-gris);
    text-decoration: none; 
    padding: .8rem 1rem;
    border-radius: 10px 0 0 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.main__section4__creapuesta__enlace:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.main__section4__creapuesta__img {
    width: 20px;
    height: 20px;
    margin-left: 8px; 
}
.main__section4__container1__container__estadisticas{
    display: flex;
    justify-content: space-between;
    height: 3.7vw;
}
.main__section4__container1__container__enlaceequipos{
    margin: 0 auto;
    color: var(--blanco);
    width: 10vw;
    height: 4vh;
    text-align: center;
    border: solid 1px var(--blanco);
    font-size: 1.3rem;
    border-radius: 10px;
}
.main__section4__container1__container__estadisticas__p{
    color: var(--blanco);
    font-size: 1.2rem;

}
.main__section4__container1__container__estadisticas__p>span{
    color: var(--verde-primario);
}











.footer {
    background-color: var(--secundario-azul);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.footer__seccion1 {
    padding: 3rem;
}

.footer__seccion1__img {
    width: 20rem;
}

.footer__seccion2, .footer__seccion3 {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--blanco);
}

.footer__seccion2__h3, .footer__seccion3__h3, 
.footer__seccion4__h3 {
    color: var(--verde-primario);
    font-size: 1.5rem;
}

.footer__seccion2__enlace, 
.footer__seccion3__enlace {
    color: var(--blanco);
    margin: 3px 0;
    text-decoration: none;
}

.footer__seccion4 {
    padding: 2rem 3rem;
}

.footer__seccion4__container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer__seccion4__container__img {
    width: 2rem;
}

.footer__seccion4__apps {
    display: flex;
    gap: 1rem;
}

.footer__seccion4__img {
    width: 6rem;
}
