:root {
    --verde-primario: #9BE40A;  
    --verde-secundario: #94CC26; 
    --verde-tercero: #A8F80D; 
    --verde-cuarto: #C3F16A; 
    --verde-quinto: #C9E992; 

    --secundario-azul: #07434B; 
    --secundario-azulclaro: #28FFBB;
    --secundario-amarillo: #FFE418;
    --secundario-naranja: #F0A32E;
    
    --extra-gris: #434343;
    --extra-negro: #282828;
    --extra-rojo: #FB4915;
    --extra-grisaceo: #DDDDDD;
    --blanco: #fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

body {
    font-family: "Orbitron", serif;
}
.header{
    background-color: var(--secundario-azul);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}
.header__section1__logo{
    width: 27vw;
}

.header__section2__nav{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 8vw;
   
}
.header__section2__nav__container {
    background-color: var(--verde-quinto);
    padding: 1rem;
    margin: 1rem 1.5rem;
    border-radius: 30%;
    width: 5.5vw;
    height: 5.5vw;
    display: flex;
    
    align-items: center; 
    flex-direction: column;
}

.header__section2__nav__container__enlace__img {
    width: 3vw;
    height: 3vw;
    object-fit: contain; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.header__section2__nav__container:hover .header__section2__nav__container__enlace__img {
    transform: scale(1.2) rotate(5deg);
}
.header__section2__nav__container__enlace__img {
    width: 3vw;
    height: 3vw;
}

.header__section2__nav__container__p {
    text-align: center; 
    padding-top: 20px;
    color: var(--blanco);
    font-size: 1.3rem;
}

.main{
    background-color: var(--extra-negro);
    display: flex;
    flex-direction: column;
}
.main__section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__section1__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.main__section1__container__h1{
    color: var(--extra-grisaceo);
    text-align: center;
    font-size: 3rem;
}

.main__section1__container__enlace{
    background-color: var(--verde-quinto);  
    padding: 1rem;
    margin: 1rem;
    border-radius: 30%;
    width: 5.5vw; 
    height: 5.5vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main__section1__container__img{
    width: 3vw;
    height: 3vw;
    object-fit: contain;
}
.main{
    background-color: var(--extra-negro);
    
}

.main__section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__section1__container1{
padding: 2rem;
}
.main__section1__container1__h2{
    color: var(--verde-primario);
    font-size: 3rem;
}
.main__section1__container1__span{
    color: var(--extra-grisaceo);
    font-size: 3rem;

}
.main__section1__container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main__section1__container2__enlace {
    background-color: var(--verde-quinto);  
    padding: 1rem;
    margin: 1rem;
    border-radius: 30%;
    width: 5.5vw; 
    height: 5.5vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main__section1__container2__enlace {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.toggle-input {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--extra-gris);
    border-radius: 10px;
    padding: 1rem;
    width: 20vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
    right: 100%;  
    top: 0;
    margin-right: 10px; 
}
.dropdow-content__elemento{
    color: var(--blanco);
    border: 1px solid var(--blanco);
    margin: 10px;
}

#cartera-toggle:checked ~ .dropdown-content {
    display: block;
}

#notificaciones-toggle:checked ~ .dropdown-content {
    display: block;
}

.dropdown-content p {
    color: var(--blanco);
    font-size: 1.2rem;
}

.main__section1__container2__enlace__img {
    width: 3vw;
    height: 3vw;
    object-fit: contain;
}

.main__container{
    display: flex;
    width: 100%;
    gap: 2rem
}
.main__aside {
    display: flex;
    flex-direction: column;
    width: 20vw;
    border-right: 1px solid var(--blanco);
}

.main__aside__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid var(--blanco);
    margin: 20px;
    height: 5rem;
    width: 15rem;
}

.main__aside__container__p {
    text-align: center;
    color: var(--blanco);
}

.main__aside__container__numbers {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    position: relative;
    
}

.main__aside__container__progress {
    position: absolute;
    top: 50%; 
    left: 10%; 
    right: 60%; 
    height: 3px; 
    background-color: var(--blanco); 
    z-index: 0; 
}

.main__aside__container__numbers p {
    margin: 0;
    position: relative;
    z-index: 1; 
}

.main__section2{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    width: 60vw;
}
.main__section2__form {
    margin: 0;
    padding: 0;
}

.main__section2__form__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--extra-grisaceo);
    width: 40vw;
    height: 3vw;
    border-radius: 20px;
    border: solid 3px black;
    padding: 0.5rem;
    overflow: hidden;
}

.main__section2__form__container__input__img {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 0.5rem; 
}

.main__section2__form__container__input {
    background-color: var(--extra-grisaceo);
    height: 2.8vw;
    width: 100%; 
    border: none; 
    padding-left: 10px;
    border-radius: 0 20px 20px 0;
    outline: none; 
}

.main__section2__form__container__input:focus {
    outline: none;
}
.main__section2__enlaces{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__section2__enlace{
    background-color: var(--verde-quinto);  
    padding: 1rem;
    margin: 1rem;
    border-radius: 30%;
    width: 5.5vw; 
    height: 5.5vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main__section2__enlace__img{
    width: 3vw;
    height: 3vw;
    object-fit: contain;
}
.main__section3__table {
    width: 50vw; 
    border-collapse: collapse; 
    border: 2px solid var(--extra-negro);
    background: linear-gradient(135deg, var(--verde-secundario), var(--verde-cuarto));
    border-radius: 20px;
    padding: 1.5rem;
    margin: 2rem 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;

}
  
.main__section3__table__tr__td{
    border: 1px solid var(--extra-negro);
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--extra-negro);
    background-color: rgba(255, 255, 255, 0.2);
}
.main__section3__table__tr__img{
    width: 60px;
}
.main__section3__table tr:hover {
    background-color: var(--secundario-amarillo);
    color: var(--extra-negro);
    transition: background-color 0.3s ease-in-out;
}
.main__section3__table__tr__td2 {
    border-bottom: 1px solid var(--extra-negro); 
    height: 20vh;
    
}
.main__section3__table__tr__td2 {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0 25px;
    
}
.main__section3__table__tr__td{
    font-size: 2rem;
}
.main__section3__puntos{
    border: 1px solid var(--extra-negro); /* Borde alrededor de cada celda */
    padding: 1.5rem; 
    font-size: 1.5rem;
}
.main__section3__table__tr__td__img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.main__section3__table__tr__td__p{
    font-size: 2rem;
}

.main__section4__creapuesta {
    position: fixed; 
    right: 1px; 
    top: 75%; 
    transform: translateY(-50%); 
    z-index: 100; 
}

.main__section4__creapuesta__enlace {
    display: flex;
    align-items: center;
    background-color: var(--blanco); 
    color: var(--extra-gris);
    text-decoration: none; 
    padding: .8rem 1rem;
    border-radius: 10px 0 0 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.main__section4__creapuesta__enlace:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.main__section4__creapuesta__img {
    width: 20px;
    height: 20px;
    margin-left: 8px; 
}

.main__section3__table__tr__boton {
    background-color: var(--secundario-azul);
    color: var(--blanco);
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    margin: 0.5rem;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.main__section3__table__tr__boton:hover {
    background-color: var(--secundario-azulclaro);
    transform: scale(1.05);
}

.main__section3__table__tr__botonn:active {
    background-color: var(--secundario-amarillo);
}

.footer {
    background-color: var(--secundario-azul);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.footer__seccion1 {
    padding: 3rem;
}

.footer__seccion1__img {
    width: 20rem;
}

.footer__seccion2, .footer__seccion3 {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--blanco);
}

.footer__seccion2__h3, .footer__seccion3__h3, 
.footer__seccion4__h3 {
    color: var(--verde-primario);
    font-size: 1.5rem;
}

.footer__seccion2__enlace, 
.footer__seccion3__enlace {
    color: var(--blanco);
    margin: 3px 0;
    text-decoration: none;
}

.footer__seccion4 {
    padding: 2rem 3rem;
}

.footer__seccion4__container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer__seccion4__container__img {
    width: 2rem;
}

.footer__seccion4__apps {
    display: flex;
    gap: 1rem;
}

.footer__seccion4__img {
    width: 6rem;
}

@media (max-width: 1023px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }

    .header__section1__logo {
        width: 40vw;
    }

    .header__section2__nav {
        flex-wrap: wrap;
        height: auto;
    }

    .header__section2__nav__container {
        width: 8vw;
        height: 8vw;
    }

    .main__section1 {
        flex-direction: column;
        text-align: center;
    }

    .main__section1__container1 {
        padding: 1rem;
    }
    .main__section1__container2{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .main__section2__form__container {
        width: 80%;
        height: auto;
    }
    
    .main__section3 {
        flex-wrap: wrap;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .footer__seccion2, 
    .footer__seccion3 {
        border-left: none;
    }
}


@media (max-width: 767px) {
    .header {
        height: auto;
        padding: 1rem;
    }

    .header__section1__logo {
        width: 50vw;
    }

    .header__section2__nav {
        flex-direction: row;
        justify-content: center;
    }

    .header__section2__nav__container {
        width: 12vw;
        height: 12vw;
        margin: 0.5rem;
    }

    .main__section1 {
        flex-direction: column;
        text-align: center;
    }

    .main__aside{
        width: 20%;
    }
    .main__aside__container{
        width: 3rem;
        font-size: 8px;
        margin: 10px;
    }
    .main__aside__container__progress{
        display: none;
    }
    .main__section2__form__container {
        width: 90%;
    }
    .main__section2__enlaces{
        font-size: 9px;
    }
    .main__section1__container2__enlace{
        width: 3rem;
        height: 3rem;
    }
    .main__section3__table {
        width: 100%;
        font-size: 0.9rem; 
        border-collapse: collapse;
    }

    .main__section3__table__tr {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid var(--secundario-azul);
    }

    .main__section3__table__tr__td,
    .main__section3__table__tr__td2 {
        width: 100%;
        text-align: center;
    }

    /* Imágenes dentro de la tabla */
    .main__section3__table__tr__img,
    .main__section3__table__tr__td__img {
        width: 50px;
        height: auto;
        margin-bottom: 1rem;
    }

    .main__section3__table__tr__td2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Puntos */
    .main__section3__puntos {
        font-size: 1rem;
        padding-top: 1rem;
    }

    .main__section3__table__tr__td__p {
        font-size: 0.9rem;
    }

    /* Ajuste de los márgenes y padding */
    .main__section3__table__tr__td2 p {
        margin: 0.5rem 0;
    }
   
    .toggle-input {
        display: none;
    }
    
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--extra-gris);
        border-radius: 10px;
        padding: .5rem;
        width: 30vw;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        z-index: 10;
        right: 100%;  
        top: 0;
        margin-right: 10px; 

    }
    .dropdow-content__elemento{
        color: var(--blanco);
        border: 1px solid var(--blanco);
        margin: 10px;
    }
    
    #cartera-toggle:checked ~ .dropdown-content {
        display: block;
    }
    
    #notificaciones-toggle:checked ~ .dropdown-content {
        display: block;
    }
    
    
    .dropdown-content p {
        color: var(--blanco);
        font-size: .6rem;
    }
    

    .main__section4__creapuesta {
        position: relative;
        right: auto;
        top: auto;
        transform: none;
        margin: 1rem 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer__seccion4__container {
        justify-content: center;
    }
}

/* Móviles pequeños (hasta 479px) */
@media (max-width: 479px) {
    .header {
        height: auto;
        padding: 1rem;
    }

    .header__section1__logo {
        width: 70vw;
    }

    .header__section2__nav__container {
        width: 3rem;
        height: 3rem;
    }
    .header__section2__nav__container__p{
        font-size: .8rem;
    }
    .main__section1__container__h1{
        font-size: 20px;
    }
    .main__section1__container1__h2{
        font-size: 1rem;
    }
    .main__section1__container1__span{
        font-size: 1.5rem;
    }
    .main__section2__form__container {
        display: flex;
        width: 100%;
        height: 3rem;
        padding: 1rem;
    }
    .main__section2__form__container__input__img{
        width: 1rem;
        height: 1rem;
    }
    .main__section2__form__container__input {
        height: 3rem;
    }

    .main__section3__table {
        font-size: 0.8rem; /* Reducir aún más el tamaño de la fuente */
    }
   
    .main__section3__table__tr__td,
    .main__section3__table__tr__td2 {
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    .main__section3__table__tr__td {
        text-align: center;
    }

    .main__section3__table__tr__td2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* Imágenes dentro de la tabla */
    .main__section3__table__tr__img,
    .main__section3__table__tr__td__img {
        width: 30px;
        height: auto;
        margin-bottom: 0.5rem;
    }

    /* Puntos */
    .main__section3__puntos {
        font-size: 0.8rem;
        padding-top: 0.5rem;
    }

    /* Ajuste de los márgenes y padding */
    .main__section3__table__tr__td2 p {
        margin: 0.3rem 0;
    }
    
    
.main__section4__creapuesta {
    position: fixed; 
    right: 1px; 
    top: 75%; 
    transform: translateY(-50%); 
    z-index: 100; 
}

.main__section4__creapuesta__enlace {
    display: flex;
    align-items: center;
    background-color: var(--blanco); 
    color: var(--extra-gris);
    text-decoration: none; 
    padding: .5rem .8rem;
    border-radius: 10px 0 0 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.main__section4__creapuesta__enlace:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.main__section4__creapuesta__img {
    width: 20px;
    height: 20px;
    margin-left: 8px; 
}
   
    .footer {
        flex-direction: column;
        padding: 1rem;
    }
    .footer {
        padding: 0.5rem;
    }

    .footer__seccion1__img {
        width: 200px;
    }

    .footer__seccion4__container__img {
        width: 30px;
    }

    .footer__seccion4__img {
        width: 70px;
    }
}









