:root {
    --verde-primario: #9BE40A;  
    --verde-secundario: #94CC26; 
    --verde-tercero: #A8F80D; 
    --verde-cuarto: #C3F16A; 
    --verde-quinto: #C9E992; 

    --secundario-azul: #07434B; 
    --secundario-azulclaro: #28FFBB;
    --secundario-amarillo: #FFE418;
    --secundario-naranja: #F0A32E;
    
    --extra-gris: #434343;
    --extra-negro: #282828;
    --extra-rojo: #FB4915;
    --extra-grisaceo: #DDDDDD;
    --blanco: #fff;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
button:focus-visible,
a:focus-visible {
    outline: 3px solid var(--extra-rojo);
    outline-offset: 3px;
}
body {
    font-family: "Orbitron", serif;
}
.header{
    background-color: var(--secundario-azul);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header__logo {
    width: 23vw;
}
.header__login {
    background-color: var(--extra-negro);
    color: var(--verde-primario);
    padding: 1rem 3rem;
    border-radius: 10px;
    font-weight: bold;
}

.main{
    background-color: var(--extra-negro);
}
.seccion1 {
    background-color: var(--extra-negro);
    height: 70vh;    
    padding:2rem;
}


.seccion1__container {
    background: linear-gradient(#9BE40A80, #9BE40A80), /* 80 = 50% de opacidad */
    url(../assets/backgroundinicio.jpg);
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    border-radius: 20px;
}
.seccion1__container__img {
    width: 35vw;

}
/* Texto de la sección */
.seccion1__container__h3 {
    color: var(--blanco);
    font-size: 1.5rem;
    padding: 2.5rem;
    font-weight: bold;
    
}
.seccion2{
    padding: 3rem;
    display: flex;
    
}
.seccion2__izquierda{
    width: 50vw;
    margin: 0 2rem;
}
.seccion2__izquierda__h3{
    font-size: 2rem;
    color: var(--extra-grisaceo);
}
.seccion2__izquierda__span{
    color: var(--verde-primario);
}
.seccion2__izquierda__img{
    width: 45vw;
}
.seccion2__izquierda__p{
    color: var(--blanco);
}
.seccion2__derecha{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 3rem; 
    margin: 0 2rem;
    
}
.seccion2__derecha__container{
    padding: 2rem;
}
.seccion2__derecha__container__bg{
    background-color: var(--secundario-azul);
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion2__derecha__container__h3{
    color: var(--verde-secundario);
}
.seccion2__derecha__container__p{
    width: 8rem;
    color: var(--extra-grisaceo);
}

.seccion3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    text-align: center;
    padding-bottom: 5rem;
}

.seccion3__h2 {
    color: var(--extra-grisaceo);
    font-size: 1.5rem;
}

.seccion3__h3 {
    color: var(--extra-grisaceo);
    font-size: 1rem;
    margin: 2rem;
    width: 60vw;
}
.seccion3__container{
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas, cada una con un ancho igual */
    grid-template-rows: auto auto; /* 2 filas, cada una con altura automática según el contenido */
    gap: 3rem; 
    margin: 0 2rem;
    padding: 3rem 0 3rem 3rem;
}
.seccion3__container__elemento{
    display: flex;
}
.seccion3__container__elemento__izq{
    width: 30vh;
}

.seccion3__container__elemento__der__h3{
    color: var(--extra-grisaceo);
}
.seccion3__container__elemento__der__p{
    color: var(--extra-grisaceo);
}

.footer {
    background-color: var(--secundario-azul);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.footer__seccion1 {
    padding: 3rem;
}

.footer__seccion1__img {
    width: 20rem;
}

.footer__seccion2, .footer__seccion3 {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--blanco);
}

.footer__seccion2__h3, .footer__seccion3__h3, 
.footer__seccion4__h3 {
    color: var(--verde-primario);
    font-size: 1.3rem;
}

.footer__seccion2__enlace, 
.footer__seccion3__enlace {
    color: var(--blanco);
    margin: 3px 0;
    text-decoration: none;
}

.footer__seccion4 {
    padding: 2rem 3rem;
}

.footer__seccion4__container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer__seccion4__container__img {
    width: 2rem;
}

.footer__seccion4__apps {
    display: flex;
    gap: 1rem;
}

.footer__seccion4__img {
    width: 6rem;
}

/* Estilos IniciaSesion */
.mainI{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--extra-negro);
    padding: 2rem 0;
}
.main__h1{
    font-size: 3.5rem;
    padding: 4rem;
    color: var(--verde-primario);
}
.main__section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--extra-negro);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: solid var(--blanco) 1px;
    width: 50vw;
    border-radius: 10px;
    height: 90vh;
    padding: 2rem;
    gap: 1rem;
}

.main__section__form__label {
    color: var(--blanco);
    font-size: 1rem;
    font-weight: bold;
}

.main__section__form__input {
    width: 100%;
    padding: 0.8rem;
    margin: 1rem 0;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    background-color: var(--extra-gris);
    color: var(--blanco);
    outline: none;
    transition: all 0.3s ease;
}


.main__section__form__input:focus {
    border: 2px solid var(--verde-primario);
    background-color: var(--extra-grisaceo);
}


.main__section__form__input__enviar {
    background-color: var(--verde-primario);
    color: var(--extra-negro);
    border: 1px solid var(--blanco);
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: .8rem;
    min-width: 150px; /* Asegurando un tamaño adecuado */
    height: 44px; /* Altura mínima para accesibilidad */
    text-align: center; 
}

.main__section__form__input__enviar:hover {
    background-color: var(--verde-secundario);
}

/* Estilos para el enlace de registro */
.main__section__form__enlace {
    color: var(--verde-primario);
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    padding: 2rem;
}

.main__section__form__enlace:hover {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
    .header__logo {
        width: 50%;
    }
    .header__login {
        padding: 0.5rem 2rem;
    }
    .seccion3__container{
        gap: 0;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .seccion1 {
        height: auto;
        padding: 1rem;
    }
    .seccion1__container {
        height: auto;
        text-align: center;
        padding: 2rem;
    }
    .seccion1__container__img {
        width: 80%;
        margin: 0 auto;
    }
    .seccion1__container__h3 {
        font-size: 1.5rem;
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    .seccion2 {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
    .seccion2__izquierda {
        width: 100%;
        margin: 0;
    }
    .seccion2__izquierda__img {
        width: 100%;
    }
    .seccion2__derecha {
        display: flex;
        flex-direction: column;
    }
    .seccion2__derecha__container {
        display: flex;
        text-align: center;
        padding: 1rem;
        font-size: 15px;
    }
    .seccion2__derecha__container__bg__img {
        width: 20px;
    }
    .seccion3__container {
        grid-template-columns: 1fr;
        padding: 0;
    }
}


@media (max-width: 480px) {
    .main__section {
        width: 90%;
        height: auto;
        padding: 1.5rem;
    }
    .main__h1 {
        font-size: 2rem;
    }
    .main__section__img{
        width: 20rem;
    }
}


@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .footer__seccion1{
        padding: 0;
    }
    .footer__seccion2,
    .footer__seccion3 {
        border-left: none;
        border-top: 1px solid var(--blanco);
        padding-top: 1rem;
    }
}
.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--extra-negro);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid var(--verde-primario);
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
body:not(.loaded) .spinner-container {
    display: flex;
}


body.loaded .spinner-container {
    opacity: 0;
    visibility: hidden;
    
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInEffect 1s ease-out forwards;
}

@keyframes fadeInEffect {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.main, .header {
    animation-delay: 0.5s;
    animation: fadeInEffect 1s ease-out forwards;
}
